@import "./variables.scss";

header{
    background-color: $primaryBackground;
    box-shadow:2px 2px 5px rgb(243, 243, 243);
    z-index:10;
    position:relative;
    nav.nav-wrapper{
        background-color:transparent;
        ul{
            li{
                a{
                    color: $darkText;
                    &:hover{
                        background-color:$tertiaryBackground;
                    }
                    &.btn-reverse{
                        
                    }
                }
            }
        }
        
        img{
            height:50px;
            margin-top:.5rem;
        }
    }
}