@import "./variables.scss";

.btn, .btn-large, .btn-small{
    background-color: $secondaryBackground;
    &.btn-reverse{
        background-color: $primaryBackground;
        border:solid 1px $tertiaryBackground;
    }
    &.btn-primary{
        background-color: $primaryButton;
        &:hover{
            background-color: $tertiaryBackground;
            color:$darkText;
        }
    }
}