@import "./variables.scss";

.btn, .btn-large, .btn-small{
    background-color: $secondaryBackground;
    &.btn-reverse{
        background-color: $primaryBackground;
        border:solid 1px $tertiaryBackground;
    }
    &.btn-primary{
        background-color: $primaryButton;
        color: $lightText;
        &:hover{
            background-color: $tertiaryBackground;
            color:$darkText;
        }
    }
    &.btn-block{
        width:100%;
    }
}
.ally-action-menu{
    .MuiButton-fab-29{
        box-shadow:0px 3px 5px -1px rgba(0, 0, 0, 0.08),
        0px 6px 10px 0px rgba(0, 0, 0, 0.08),
        0px 1px 18px 0px rgba(0, 0, 0, 0.08);
    }
}
