@import "./variables.scss";

@font-face {
    font-family: 'Avenir-Medium';
    src : url('../fonts/Avenir-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura-Medium';
    src : url('../fonts/Futura-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura-Bold';
    src : url('../fonts/Futura-Bold.ttf') format('ttf');
}

body, html{
    margin:0px;
    padding:0px;
    font-family: 'Avenir', Helvetica, sans-serif;
}



div.route-wrapper {
    background-image: url("../images/layout/grunge.jpg");
    h2{
        font-size:2em;
        text-transform:uppercase;
        color: $mediumText;
        text-align:center;
        border-bottom:solid 1px $primaryBorder;
    }
    h3{
        text-transform:uppercase;
        font-size:3em;
        color: $darkText;
        border-bottom:solid 1px $primaryBorder;
        padding-bottom:10px;
    }
    h4{
        text-transform:uppercase;
        font-size:1.3em;
        color: $mediumText;
        padding-bottom:15px;
    }
    p{
        font-size:1.0em;
    }
    section{
        &.title-section{
            
            h1{
                margin-bottom:0px;
                margin-top:0px;
                padding-top: 20px;
            }
            p{
                color:$mediumText;
            }
        }
        &.bottom-section{
            background-color: $secondaryBackground;
            min-height: 200px;
        }

        .subsection{
            text-align:center;
        }
    }
    .notification{
        color : #856404;
        background-color: #fff3cd;
        border-color:#ffeeba;
        border-radius:.25rem;
        padding:.75rem 1.25rem;
        margin: 20px;
        &.notification-error{
            color : #721c24;
            background-color: #f8d7da;
            border-color:#f5c6cb;
            
        }
        &.notification-success{
            color : #004085;
            background-color: #cce5ff;
            border-color:#b8daff;
            
        }
    }
}

