@import "~/assets/scss/variables.scss";

div.page-wrapper.gallery-list-page{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding:60px 20px;
    place-items: stretch;
    min-height: 1044px;
}
