@import "src/assets/scss/variables.scss";


// Wrapping div around all sections
div.page-wrapper.about-page{
    display:grid;
    grid-template-columns: auto;
    justify-items:stretch;
    
    // Children of the Div above
    section{
        // But also it's own grid
        display:grid;
        place-items:center;
        padding:40px 0px;
        &.title-section{
            background-color:$secondaryBackground;
            grid-template-rows: 1.5fr 1fr 1fr;
            place-items:center;
        p{
            color:$mediumText;
        }
        .subsection{
                &:first-child{
                    grid-column: 1 / 2;
                    grid-row: 1 / 2;
                }
                &:last-child{
                    grid-column: 1 / 2;
                    grid-row: 3 / 4;
                }
        }
        }
        &.ally-section{

            background-color:$primaryBackground;
        }
        &.about-section{
            background-color:$secondaryBackground;
        }

        > div.subsection{
            width:80%;
            text-align:center;
     
        }
    }

}
