@import "../../../assets/scss/variables.scss";
.bg{
  background-size: 100%;
}
.bg-amethyst{
  background-image: url('../../../assets/images/backgrounds/amethyst_bg.png');
}
.bg-citrine{
  background-image: url('../../../assets/images/backgrounds/citrine_bg.png');
}
.bg-diamond{
  background-image: url('../../../assets/images/backgrounds/diamond_bg.png');
}
.bg-emerald{
  background-image: url('../../../assets/images/backgrounds/emerald_bg.png');
}
.bg-fire-opal{
  background-image: url('../../../assets/images/backgrounds/fire_opal_bg.png');
}
.bg-onyx{
  background-image: url('../../../assets/images/backgrounds/onyx_bg.png');
}
.bg-ruby{
  background-image: url('../../../assets/images/backgrounds/ruby_bg.png');
}
.bg-sapphire{
  background-image: url('../../../assets/images/backgrounds/sapphire_bg.png');
}
.bg-topaz{
  background-image: url('../../../assets/images/backgrounds/topaz_bg.png');
}
.ultimate_ability{
  color: $emphasisText;
  text-transform: uppercase;
}
.display_power{
  font-size: 2em;
  color: $darkText;
  font-family: 'Futura', Helvetica, sans-serif;
  display: flex;
  align-items:center;
  justify-content: center;
  flex-direction:row;
  span{
    background-color: transparent;
    box-shadow: 1px 2px 3px rgba(172, 172, 172, 0.5);
    line-height:1.5;
    height:40px;
    width: 100px;
    display:flex;
    align-items:center;
    img{
      height:35px;
      line-height:1.5;
      vertical-align: middle;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .bg{
    background-size: 180px 180px;
  }
}