@import "../../../assets/scss/variables.scss";
.bg{
  background-size: 100%;
}
.bg-amethyst{
  background-image: url('../../../assets/images/backgrounds/amethyst_bg.png');
}
.bg-citrine{
  background-image: url('../../../assets/images/backgrounds/citrine_bg.png');
}
.bg-diamond{
  background-image: url('../../../assets/images/backgrounds/diamond_bg.png');
}
.bg-emerald{
  background-image: url('../../../assets/images/backgrounds/emerald_bg.png');
}
.bg-fire-opal{
  background-image: url('../../../assets/images/backgrounds/fire_opal_bg.png');
}
.bg-onyx{
  background-image: url('../../../assets/images/backgrounds/onyx_bg.png');
}
.bg-ruby{
  background-image: url('../../../assets/images/backgrounds/ruby_bg.png');
}
.bg-sapphire{
  background-image: url('../../../assets/images/backgrounds/sapphire_bg.png');
}
.bg-topaz{
  background-image: url('../../../assets/images/backgrounds/topaz_bg.png');
}
.ultimate_ability{
  color: $emphasisText;
  text-transform: uppercase;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  .bg{
    background-size: 180px 180px;
  }
}