$primaryBackground : #FFFFFF;
$secondaryBackground : #E8E5CF;
$tertiaryBackground : #E5E1B1;
$primaryButton : #2E2B29;
$darkText : #2E2B29;
$mediumText : #B09953;
$lightText : #D9CB9F;
$bottomBorder : gray;